@charset "UTF-8";

/* 전체 레이아웃 잡을 테이블 */
*{
	box-sizing: border-box;
}

table{
	width : 100%;
	border: solid red 1px;
	padding-bottom: 33%;		/* 정사각으로 만들기 위해 */
}

body{
	margin : 0 auto;
	padding : 0;
	width: 100%;
	height: 140vh;
	background-color: #eeeeee;
	position: relative;					/* 왜 안되지? */
}

/* 헤더 */

.c_header{
	height : 35vh;
	background-color: gray;
}

.c_편의{
	list-style: none;
	display: flex;
}

.c_편의 li{
	padding-left: 10px;	
}

/* 프로필 영역 */
.c_prfile{
	text-align : center;
	width: 100%;
	height: 440px;
	background-color: aqua;
}

.proimg{
	margin : 30px 10px 10px 10px;
	width: 200px;
	height: 200px;
	background-color: blue;
	border-radius: 50%;
}

.c_prfile h3,h4 {
	margin: 10px;
	text-align: center;
}

.c_btnbox{
	display : flex;
	justify-content: center;
}

.c_prfile div:nth-child(1){
	width : 80px;
	height: 30px;
	text-align: center;
	background-color: red;
	margin: 5px;
}

.c_prfile div:nth-child(2){
	width : 80px;
	height: 30px;
	text-align: center;
	background-color: fuchsia;
	margin: 5px;
}

/* 방문자 영역 */
.c_visitbox{
	height: 440px;
	background-color: navy;
}

.c_today , .c_visit{
	height: 40px;
	background-color: green;
	border-radius: 15px;
	margin: 10px;
}

.c_visit h3{
	padding-top: 5%;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	color: white;
}


/* 글 미리보기 이미지 박스 테이블 */
.c_post_img_list{
	widows: 100%;
}

.c_postbox{
	position: relative;
}

.c_post_img_list{
	position: absolute;
	top : 0;
	left: 0;
	background-color: purple;
	width: 100%;
	height: 100%;
}

.c_post_img_list tr{
	width: 33%;
	height: auto;;
	flex-wrap: wrap;
}

.c_post_img_list th{
	width: 33%;
	flex-wrap: wrap;
}

/* 미리보기 이미지 */
#imgbox{				
	background-color: #FF99FF;
	background-size: cover; 
	width: 100%;
	height: 100%;
}

.c_friends_box{
	position: absolute;
	bottom: 0px;
	background-color: yellow;
}

marquee{
	position : absolute;	/* 왜 안되지? */
	top: 0;
	height: 10vh;			
	vertical-align: middle; /* 왜 안돼? */
}





























