@charset "UTF-8";

/* 전체 레이아웃 잡을 테이블 */
*{
	box-sizing: border-box;
}

table{
	width : 100%;
	border: solid red 1px;
}

table tr{
	border: solid red 3px;
}

table th{
	border: solid red 3px;
}

table td{
	border: solid red 3px;
}

/*    */
body{
	margin : 0 auto;
	padding : 0;
	width: 100%;
	height: 140vh;
	background-color: #eeeeee;
}

.c_header{
	height : 35vh;
	background-color: gray;
}

.c_편의{
	list-style: none;
	display: flex;
}

.c_편의 li{
	padding-left: 10px;	
}

/* 프로필 영역 */
.c_prfile{
	text-align : center;
	width: 100%;
	height: 440px;
	background-color: aqua;
}

.proimg{
	margin : 30px 10px 10px 10px;
	width: 200px;
	height: 200px;
	background-color: blue;
	border-radius: 50%;
}

.c_prfile h3,h4 {
	margin: 10px;
	text-align: center;
}

.c_btnbox{
	display : flex;
	justify-content: center;
}

.c_prfile div:nth-child(1){
	width : 80px;
	height: 30px;
	text-align: center;
	background-color: red;
	margin: 5px;
}

.c_prfile div:nth-child(2){
	width : 80px;
	height: 30px;
	text-align: center;
	background-color: fuchsia;
	margin: 5px;
}

/* 방문자 영역 */
.c_visitbox{
	height: 440px;
	background-color: navy;
}

.c_today {
	height: 40px;
	background-color: green;
	border-radius: 15px;
	margin: 10px;
}

.c_visit {
	height: 40px;
	background-color: green;
	border-radius: 15px;
	margin: 10px;
}	

.c_visit h3{
	padding-top: 10px;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	color: white;
}


/* 글 미리보기 이미지 박스 테이블 */
.c_postbox{
	position: relative;
}

.c_post_img_list{
	position: absolute;
	top : 0;
	left: 0;
	background-color: purple;
	width: 100%;
	height: 100%;
}

.c_post_img_list th{
	width: 33%;
	height: 50vh;
	background-color: orange;
}
.c_post_img_list td{
	width: 33%;
	height: 50vh;
	background-color: orange;
}

/* 미리보기 이미지 */
#imgbox{				
	background-color: #FF99FF;
}


.c_friends_box{
	height: 10vh;
	vertical-align: middle;
}































