@charset "UTF-8";

*{ border : solid 1px red;}

.hd_top{background-color: green;}
.hd_top_menu{ margin: 0 auto;
				text-align: right; 
				background-color: red;
				height: 100px;
				margin: 0 auto;
				
				}
	
.he_s{
	width: 1200px;	height: 80px;
	backgrond-color : green;
	float : left;
	margin : 0 auto;
}	

.hl{
	
	
}

.hm{
	
	
}

.hs{
	width: 200px;
	height: 80px;
	float: left;
}
.con{
	
width: 1200px;
height: 300px;
margin: 0 auto;
}


.main_view{
	width: 1000px;
	height: 200px;
	float: left;
}


.mb{
	
	width: 200px;	height: 200px;
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

.mb{
	width: 250px;
	height: 500px;
	float: right;
	
}


.box{
	
	width: 310px; height: 300px;
	background-color: orange;
	float: left;
}

.foo{
	width: 1200px; height: 100PX;
	margin: 0 auto;
	
}


.ft_i{
	width: 600px; height: 50px;
	float: left;
}

.ft_e{
	width: 600px; height: 50px;
	float: right;
	
}


.fs{
	
	width: 1300px;
	height: 100px;
	float: right;
}




















