@charset "UTF-8";

/* 제품목록 */
*{
	box-sizing: border-box;
}

.itemlist{
	display: flex;
	margin: 5% 3%;	/* x축 y축 */
	justify-content: flex-start;	/* flex-start : 왼쪽부터 균등배치 */
	flex-wrap: wrap;				/* flex-wrap: wrap : 가로배치시 사ㅣ즈가 넘쳤을때 자동으로 줄바꿈 */
}

.box_title{
	font-family: 'Happiness-Sans-Title';
	text-align: center;				/* 레이아아수 안에 있는 내용물 가운데 배치 */
	margin: 0 auto;					/* 레이아웃 자체를 가운데 배치 */
	width: 30%;
	padding: 5% 0% 2% 0%;
	border-bottom: solid 3px black;
	font-size: 30px;
}

.item{
	width: 20%;
	margin: 1%;
}

.item img{
	width: 100%;
	border-radius: 20px;
}

.item :hover {
	opacity: 0.8;		/* 투명도 */
}

.iten_title{
	font-size: 15px;
	margin: 2% 0%;		/* 위/아래만 띄움 */
}

.item_size{
	font-size: 13px;
	color: #999999;
	border-bottom: 1px solid #999999;
	padding: 3%;
}

.item_price{
	font-size: 15px;
	color: #999999;
	text-decoration: line-through;
	margin: 5% 0%;
}

.item_sale{
	font-size: 20px;
	font-family: 'Happiness-Sans-Title';
}

.item_discount{
	float: right;
	font-size: 20px;
	font-family: 'Happiness-Sans-Title';
	color: red;
}

.badge{
	float: right;
}


.item_review{
	text-align: right;
	font-size: 12px;
	color: #999999;
	margin: 3% 0%;
}


