@charset "UTF-8";

*{margin: 0; padding: 0;	box-sizing: border-box;}


header , footer{
	height: 70px;
	width: 100%;
	background-color: blue;
	text-align: center;
	color: white;
	position: fixed;	/*고정*/
	z-index: 100;	/*숫자가 더 크면 겹쳤을때 위로 올라옴 우선순위*/
}

footer{
	bottom: 0	/*bottom에서 0만큼 떨어지니까 바닥에 붙어있는거*/
}

header{
	top:0	/*상단고정*/
}

#f_box{
	width: 250px;
	height: 150px;
	border: solid 2px red;
	position: absolute;
	right: 50px;
	top: 150px;
	z-index: 10;
	opacity: 0.8;	/*투명도*/
	background-color: red;
	}