@charset "UTF-8";
*{border: solid 2px green;}

.hd_top{ background-color: red; }
.hd_top_menu{
	width:1280px; height:20px;
	background-color: orange;
	margin: 0 auto;
	text-align: right;
}

.hd_sub{
	width:1280px;	height: 80px;
	background-color: yellow;
	margin: 0 auto;
	
}

.hd_logo{width: 250px;	height: 80px;
float: left;
}

.hd_menu{
	width: 700px; height: 80px;
	float: left;
	background-color: green;
}

.hd_search{
	width: 300px; height: 80px;
	float: left;
	background-color: blue;
}

.content{
	width: 1280px;	height: 800px;
	margin: 0 auto; 
	background-color: purple;
}

.main_view{
	width: 900px;	height: 80px;
}

.main_ben{
	width: 250px;	height: 200px;
	float: right;
}

.ul{margin: 0px; padding: 0px;
	list-style: none;
}


/*이게 뭐지?? 왜 이거 한다고 저 밑에 깔려서 겹쳐잇던 리스트가
위로 깔끔하게 정리가 되지? 마진 0에 여백 0이면 왜 입력하는거야 번거롭게
논 입력했는데 왜 땡땡이 안사라지지?*/
 	
.main_sec01{
	margin: 0 auto;
	width: 1280px;
}
 	
 	/*마진 0오토랑 text-align랑 뭐가 다르지??*/
 								
 .box{
	width: 300px;	height: 300px;
	background-color: orange;
	float: left;
 }

.ft_sub{
	width: 1280px;	height: 100px;
	margin: 0 auto;
}

.ft_info{
	width: 600px;	height: 100px;
	float: left;
}

.ft_etc{
		width: 600px;	height: 100px;
		float: right;
}

.ㅇㅇ{
	height: 400px;
}

/* 뭐,, 어떻게던 굴러가기만 하면 장땡!*/




















