@charset "UTF-8";

*{
	box-sizing: border-box;
	text-align: center;
}

body{
	background-color: black;
}

section{
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

#sec1{
	height: 100px;
}

.sec1_textbox{
	float: right;
}

.sec1_text{
	color: #996b5c;
	font-size: 80px;
	padding-right: 30px;
}


/**/
#sec2{
	text-align: left;
}

.sec2box{
	display: flex;
}

.sec2_imgbox{
	float: left;
}

.sec2_imgbox{
	float: left;
	padding-left: 30px;
}

.sec2_img2{
	border-radius: 0 50% 50% 0;	
}




