@charset "UTF-8";

/* #hd{
	width: 800px;
	margin: 0 auto;
	border: solid black 1px;;
	
}

.hd1{
	float: left;
}

.정보{
	float: right;
	display: inline;
	list-style-type: none;
	border: solid yellow 1px;
}

.홈{
	border: solid 1px purple;
} */