@charset "UTF-8";
@font-face {
    font-family: 'JSongMyung-Regular-KO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JSongMyung-Regular-KO.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container{
	scroll-snap-type: y mandatory;
	overflow: auto;
}

*{
	font-family: 'JSongMyung-Regular-KO';
	text-align: center;
}

section{
	scroll-snap-align: start;
	height: 50vh;
}

.apple1{
	height: 50vh;
	background-image: url("images/사곽.JPG");
	background-repeat: no-repeat;
	background-size: cover;
}

.text1{
	padding-top: 16vh;
	text-align: center;
}

span{
	color: yellow;
}

/*----*/

.c{
	clear: both;
	height: 60vh;
	scroll-snap-align: center;
}

.b{
	margin-top: 12vh;
	float: left;
}

.text2{
	margin-top: 12vh;
	float: left;
}

.c{
	width: 100%;
	float: right;
}

.point{
	color: red;
}

.img1{
	float: right;
	margin: 50px;
}

.text3{
	float: right;
	padding-right: 10vh;
}

li{
	text-align: left;
	line-height: 180%;
	list-style-type: none;
}

.list2{
	padding-top: 10vh;
	float: right;
}


.apple3{
	height: 50vh;
	padding-top: 12vh;
	clear: both;
	width: 100%;
	height: 30vh;
	background-color: white;
	text-align: center;
	margin: 0 auto;
}

.text4{
	font-size: 30PX;
}

.gif{
	padding-bottom: 20vh;
	width: 100%;
	background-color: white;
}

.icon{
	padding-top: 20vh;
	display: flex;
	width: 15%;
	margin: 0 auto;
	text-align: center;
	background-color: white;
	padding-bottom: 80px;
	scroll-snap-align: end;
	
}

.icon1{
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	color: green;
}
