@charset "UTF-8";
@font-face {
    font-family: 'JSongMyung-Regular-KO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JSongMyung-Regular-KO.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'JSongMyung-Regular-KO';
	text-align: center;
}

.all{
	overflow: auto;
	scroll-snap-type : y mandatory;
	scroll-snap-type : proximity;
	height: 50vh;
}

.apple1 , .apple2 , .apple3{
scroll-snap-align : start;
width: 100%;
}

section{
	scroll-snap-align : start;
}

.apple1{
	height: 50vh;
	background-image: url("images/사곽.JPG");
	background-repeat: no-repeat;
	background-size: cover;
}

.text1{
	padding-top: 16vh;
	text-align: center;
}

span{
	color: yellow;
}

/*----*/

.c{
	clear: both;
	height: 60vh;
}

.b{
	margin-top: 12vh;
	float: left;
}

.text2{
	margin-top: 12vh;
	float: left;
}

.c{
	width: 100%;
	float: right;
}

.point{
	color: red;
}

.img1{
	float: right;
	margin: 50px;
}

.text3{
	float: right;
	padding-right: 10vh;
}

li{
	text-align: left;
	line-height: 180%;
}

.list2{
	padding-top: 10vh;
	float: right;
}

li{
	list-style-type: none;
}

.apple3{
	padding-top: 12vh;
	clear: both;
	width: 100%;
	height: 30vh;
	background-color: white;
	text-align: center;
	margin: 0 auto;
}

.text4{
	font-size: 30PX;
}

.gif{
	padding-bottom: 20vh;
}



