@charset "UTF-8";
#header{ height: 100px; }
.logo{ position: absolute; top:20px; left: 20px; }
.logo_impact{ color: blue; font-weight: bold;
	font-family: 'PyeongChangPeace-Bold';
 }
.top_menu{ position: absolute; right: 20px; top:30px; }
.top_menu li{ display: inline; margin-left: 20px; }

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}



/*-------------------------------------------------*/

*{
	text-align: center;
	margin: 0;
	padding: 0;
	}
	
a{text-decoration: none;
	color: black;}

a:hover{color: #eeeeee;}

.sub{
	width: 95%;
	height: 300px;
	background-image: url("../img/sub_intro.jpg");
	margin: 0 auto;
}

.stt{
	padding-top: 80px;
	color: yellow;
}

.aaa{
	width: 100%;
	height: 500px;
	text-align: center;
}

.left_pixture , .left_text{
	margin: 0 auto;
}

.ll{
	text-align: left;
}

.adad{
	text-align: center;
	width: 100%;
	height: 500px;
	text-align: center;
}



/* .sub{
	color: yellow;
	width: 100%;
	height: 300px;
	background-image: url("../img/sub_intro.jpg");
	padding-top: 130px;
}

.sub h1 , h2{
	 line-height: 100%;
}


.st h3 , h1{
	text-align: center;
}


.aaa{
	padding-left: 220px;
	width: 10%;
	margin: 0 auto;
}

.aaa td{
	text-align: left;
	padding: 10px;
	z-index: 10;
}

.left_text p , h3{
	text-align: left;
}

span{
	font-weight: bold;
	text-align: left;
}

.aaa{
	width: 600px;
	margin: 0 auto;
}

.back{
	width: 1200px;
	border: solid 1px red;
	display: flex;
}

.text{
	width: 600px;
	height: 600px;
	float: right;
} */

/*-------------------------------------------------*/
#footer{ 
	clear: both;  background-color:#292c32; color: white;   
	padding: 20px; height: 250px;
}
.ft_item{ float: left; width: 380px; margin-top: 50px; }
.ft_item li{ display: inline; }
.ft_item ul{ margin-bottom: 20px; }
.ft_sns{ float: right; width: 380px; margin-top: 50px; text-align: center; }
.ft_sns img{ margin-left: 10px;}