@charset "UTF-8";

*{border: solid 1px olive;
	margin: 0 auto;
	padding: 0px;}


#header{ height: 100px; }
.logo{ position: absolute; top:20px; left: 20px; }
.logo_impact{ color: blue; font-weight: bold; }
.top_menu{ position: absolute; right: 20px; top:30px; }
.top_menu li{ display: inline; margin-left: 20px; }


.aaa{
	width: 500px;
	height: 500px;	
}

.main{
	width: 1900px;
	height: 300px;
	background-image: url("../img/sub_intro.jpg");
}




#footer{ 
	clear: both;  background-color:#292c32; color: white;   
	padding: 20px; height: 250px;
}
.ft_item{ float: left; width: 380px; margin-top: 50px; }
.ft_item li{ display: inline; }
.ft_item ul{ margin-bottom: 20px; }
.ft_sns{ float: right; width: 380px; margin-top: 50px; text-align: center; }
.ft_sns img{ margin-left: 10px;}